{% extends 'base.html' %}
{% load static %}
{% block title %}All Package{% endblock title %}
{% block content %}
    <div class="container p-5 m-5 ">
        <h1 class="text-center fw-bold">PACKAGE</h1>
        <hr class="hr-style">
        <p class="text-center ">Get the smartest business card for an incredible price.</p>
        <!-- <img class="text-center w-100 " src="images/all-features.PNG" alt=""> -->
        <table class="table table-bordered">
            <thead class="text-center table-primary">
                <tr>
                    <th>SL</th>
                    <th>Features Name</th>
                    <th>Basic Package</th>
                    <th>Standard Package</th>
                    <th>Premium Package</th>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <td class="text-center table-success">1</td>
                    <td class="table-info">Card</td>
                    <td class="text-center table-secondary">Yes</td>
                    <td class="text-center table-success">Yes</td>
                    <td class="text-center table-danger">Yes</td>
                </tr>
                <tr>
                    <td class="text-center table-success">2</td>
                    <td class="table-info">Contact Field</td>
                    <td  class="text-center table-secondary">Yes</td>
                    <td class="text-center table-success">Yes</td>
                    <td class="text-center table-danger">Yes</td>
                </tr>
                <tr>
                    <td class="text-center table-success">3</td>
                    <td class="table-info"> Custom Field</td>
                    <td  class="text-center table-secondary">Yes</td>
                    <td class="text-center table-success">Yes</td>
                    <td class="text-center table-danger">Yes</td>
                </tr>
                <tr>
                    <td class="text-center table-success">4</td>
                    <td class="table-info">Product and Sercice</td>
                    <td  class="text-center table-secondary">NO</td>
                    <td class="text-center table-success">4 Unit</td>
                    <td class="text-center table-danger">Unlimted</td>
                </tr>
                <tr>
                    <td class="text-center table-success">5</td>
                    <td class="table-info">Portfolio</td>
                    <td  class="text-center table-secondary">NO</td>
                    <td class="text-center table-success">Unlimited</td>
                    <td class="text-center table-danger">Unlimted</td>
                </tr>
                <tr>
                    <td class="text-center table-success">6</td>
                    <td class="table-info">Testimonial</td>
                    <td  class="text-center table-secondary">NO</td>
                    <td class="text-center table-success">No</td>
                    <td class="text-center table-danger">Unlimted</td>
                </tr>
                <tr>
                    <td class="text-center table-success">7</td>
                    <td class="table-info">Galary</td>
                    <td  class="text-center table-secondary">4</td>
                    <td class="text-center table-success">Unlimited</td>
                    <td class="text-center table-danger">Unlimted</td>
                </tr>
                <tr>
                    <td class="text-center table-success">8</td>
                    <td class="table-info">Custom Section</td>
                    <td  class="text-center table-secondary">No</td>
                    <td class="text-center table-success">NO</td>
                    <td class="text-center table-danger">Unlimted</td>
                </tr>
                <tr>
                    <td class="text-center table-success">9</td>
                    <td class="table-info">QR Code with Customization</td>
                    <td  class="text-center table-secondary">YES</td>
                    <td class="text-center table-success">YES</td>
                    <td class="text-center table-danger">YES</td>
                </tr>
                <tr>
                    <td class="text-center table-success">10</td>
                    <td class="table-info">Hide Branding</td>
                    <td  class="text-center table-secondary">NO</td>
                    <td class="text-center table-success">NO</td>
                    <td class="text-center table-danger">YES</td>
                </tr>
                <tr>
                    <td class="text-center table-success">11</td>
                    <td class="table-info">Enquery Form</td>
                    <td  class="text-center table-secondary">NO</td>
                    <td class="text-center table-success">NO</td>
                    <td class="text-center table-danger">YES</td>
                </tr>
                <tr>
                    <td class="text-center table-success">12</td>
                    <td class="table-info">No Ads</td>
                    <td  class="text-center table-secondary">NO</td>
                    <td class="text-center table-success">NO</td>
                    <td class="text-center table-danger">YES</td>
                </tr>
                <tr>
                    <td class="text-center table-success">13</td>
                    <td class="table-info">SW Customization for design(JS, CSS)</td>
                    <td  class="text-center table-secondary">NO</td>
                    <td class="text-center table-success">NO</td>
                    <td class="text-center table-danger">YES</td>
                </tr>
                <tr>
                    <td class="text-center table-success">14</td>
                    <td class="table-info">SE Indesk</td>
                    <td  class="text-center table-secondary">NO</td>
                    <td class="text-center table-success">NO</td>
                    <td class="text-center table-danger">YES</td>
                </tr>
                <tr>
                    <td class="text-center table-success">15</td>
                    <td class="table-info">Profile Url</td>
                    <td  class="text-center table-secondary">YES</td>
                    <td class="text-center table-success">YES</td>
                    <td class="text-center table-danger">YES</td>
                </tr>
                <tr>
                    <td class="text-center table-success">16</td>
                    <td class="table-info">Card Viewer Count</td>
                    <td  class="text-center table-secondary">NO</td>
                    <td class="text-center table-success">NO</td>
                    <td class="text-center table-danger">YES</td>
                </tr>
                <tr>
                    <td class="text-center table-success">17</td>
                    <td class="table-info">Make Section Content Carousel,(products and Services, Portfolio)</td>
                    <td  class="text-center table-secondary">NO</td>
                    <td class="text-center table-success">YES</td>
                    <td class="text-center table-danger">YES</td>
                </tr>
                <tr>
                    <td class="text-center table-success">18</td>
                    <td class="table-info">SHOW Share Button</td>
                    <td  class="text-center table-secondary">YES</td>
                    <td class="text-center table-success">YES</td>
                    <td class="text-center table-danger">YES</td>
                </tr>
                <tr>
                    <td class="text-center table-success">19</td>
                    <td class="table-info">Show Change language option on a Card</td>
                    <td  class="text-center table-secondary">NO</td>
                    <td class="text-center table-success">YES</td>
                    <td class="text-center table-danger">YES</td>
                </tr>
                <tr>
                    <td class="text-center table-success">20</td>
                    <td class="table-info">Reorder Section</td>
                    <td  class="text-center table-secondary">Limited</td>
                    <td class="text-center table-success">YES</td>
                    <td class="text-center table-danger">YES</td>
                </tr>
                <tr>
                    <td class="text-center table-success">21</td>
                    <td class="table-info">Profile Customization</td>
                    <td  class="text-center table-secondary">Limited</td>
                    <td class="text-center table-success">YES</td>
                    <td class="text-center table-danger">YES</td>
                </tr>
                <tr>
                    <td class="text-center table-success">22</td>
                    <td class="table-info">Advanced Section</td>
                    <td  class="text-center table-secondary">NO</td>
                    <td class="text-center table-success">Limited</td>
                    <td class="text-center table-danger">YES</td>
                </tr>
                <tr>
                    <td class="text-center table-success">23</td>
                    <td class="table-info">Support</td>
                    <td  class="text-center table-secondary">YES</td>
                    <td class="text-center table-success">YES</td>
                    <td class="text-center table-danger">YES</td>
                </tr>
                <tr>
                    <td class="text-center table-success">24</td>
                    <td class="table-info">HOSTING</td>
                    <td  class="text-center table-secondary">Limited</td>
                    <td class="text-center table-success">Limited</td>
                    <td class="text-center table-danger">Unlimited</td>
                </tr>
            </tbody>
            <tfoot>
                <tr  class="text-center table-warning ">
                    <td colspan="2">Price</td>
                    <td>1200</td>
                    <td>1800</td>
                    <td>2500</td>
                </tr>
            </tfoot>
        </table>

    </div>
{% endblock %}