       <!-- importanr linka and footer section start here -->
       <section class="py-lg-3 text-light footer-widget" style="background: #37517e;
       color:#fff;">
   
           <div class="container d-none d-lg-block">
               <div class="row">
                   <!-- Quick links -->
                   <div class="col-md-4 col-sm-6">
                       <div class=" text-sm-left mt-4">
                           <h6 class="fs-14 text-white text-uppercase fw-100 mb-3">
                               Important Links
                           </h6>
                           <ul class="list-unstyled">
                               <li class="mb-2">
                                   <a href="#" class=" link ">
                                       Return Policy
                                   </a>
                               </li>
                               <li class="mb-2">
                                   <a href="termsCondition.html" class="link">
                                       Term Conditions
                                   </a>
                               </li>
                               <li class="mb-2">
                                   <a href="#" class="link">
                                       Privacy Policy
                                   </a>
                               </li>
                           </ul>
                       </div>
                   </div>
   
                   <!-- Contacts -->
                   <div class="col-md-4 col-sm-6">
                       <div class=" text-sm-left mt-4">
                           <h6 class="fs-14 text-white text-uppercase fw-700 mb-3">Contacts</h6>
                           <ul class="list-unstyled">
                               <li class="mb-2">
                                   <p class="fs-13 text-soft-light">Address : Tools & Technology Institute, BITAC 1208</p>
                               </li>
                               <li class="mb-2">
                                   <p class="fs-13 text-soft-light">Phone : 01911-310766</p>
                               </li>
                               <li class="mb-2">
                                   <p class="">
                                       <a href="mailto:" class="link">Email :
                                           support@d-info.com</a>
                                   </p>
                               </li>
                           </ul>
                       </div>
                   </div>
   
                   <!-- My Account -->
                   <div class="col-md-4 col-sm-6">
                       <div class=" text-sm-left mt-4">
                           <h6 class="fs-14 text-white text-uppercase fw-700 mb-3">My Account</h6>
                           <ul class="list-unstyled">
                               <li class="mb-2">
                                   <a class="link" href="#">
                                       Login
                                   </a>
                               </li>
                               <li class="mb-2">
                                   <a class="link" href="#">
                                       Order History
                                   </a>
                               </li>
   
                               <li class="mb-2">
                                   <a class="link" href="#">
                                       Track Order
                                   </a>
                               </li>
                           </ul>
                           <!-- Social -->
                           <h6 class="fs-14 fw-700 text-white text-uppercase mt-3 mt-lg-0">Follow Us</h6>
                           <ul class="list-inline social colored mb-4">
                               <li class="list-inline-item ml-2 mr-2">
                                   <a href="#" target="_blank" class="facebook"><i
                                           class=" icon-style rounded-circle fab fa-facebook fa-2x"></i></a>
                               </li>
                               <li class="list-inline-item ml-2 mr-2">
                                   <a href="#" target="_blank" class="instagram"><i
                                           class=" icon1 ounded-circle fab fa-instagram fa-2x"></i></i></a>
                               </li>
                               <li class="list-inline-item ml-2 mr-2">
                                   <a href="#" target="_blank" class="youtube"><i
                                           class=" icon2 ounded-circle fab fa-youtube fa-2x "></i></a>
                               </li>
                               <li class="list-inline-item ml-2 mr-2 w-25 rounded-circle">
                                   <a href="#" target="_blank" class="linkedin"><i
                                           class=" icon3 ounded-circle fab fa-linkedin-in fa-2x"></i></a>
                               </li>
                           </ul>
                       </div>
                   </div>
   
   
               </div>
           </div>
   
   
       </section>
   
       <!-- importanr linka and footer section end here -->
    
    <!-- FOOTER start here -->
    <footer style="background:#37517e;" class="pt-1 pb-1 pb-xl-1 text-light">
        <div class="container">
            <div class="row align-items-center py-0">
                <!-- Copyright -->
                <div class="col-lg-6 order-1 order-lg-0">
                    <div class="text-center text-lg-left fs-14" current-verison="7.3.0">
                        ©2024, D-INFO, All right reserved.
                    </div>
                </div>

                <!-- Payment Method Images -->
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="text-center text-lg-right">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-3">

                                <img src="images/payment.png" height="50" class="mw-100 h-auto"
                                    style="max-height: 50px">

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer end here -->
