{% extends "base.html" %}
{% load static %} 
{% block title %}Login Page{% endblock title %}
{% block content %}
    <section class="gry-bg p-lg-5 m-5">

        <div class="profile">
          <div class="container p-5">
            <div class="row">
              <div class="col-xl-5 col-lg-6 mx-auto">
                <div class="card shadow-none rounded-0 border">
                  <div class="row">
                    <!-- Left Side -->
                    <div class="col-lg-12 col-md-12 p-4 p-lg-5">
                      <!-- Titles -->
                      <div class="text-center">
                        <img src="{% static 'images/logo.jpg' %}"
                          alt="" class="img-fluid w-50 h-50 p-2">
                        <h1 class="fs-20 fs-md-24 fw-700 text-primary pt-2">Welcome Back !</h1>
                        <h5 class="fs-14 fw-400 text-dark">Login to your account.</h5>
                      </div>
                      <!-- Login form -->
                      <div class="pt-3 pt-lg-4">
                        <div class="">
                          <form  id="login-form" class="form-default" action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                              {% for message in messages %}
                              <p>{{message}}</p>
                              {% endfor %}
                            <input type="hidden" name="_token" value="">
                            <!-- Email or Phone -->
                            <div class="form-group">
                              <label for="email" class="fs-12 fw-bold text-soft-dark mb-lg-2">Email</label>
                              <input type="email" class="form-control rounded-0 mb-lg-2" value="" placeholder="johndoe@example.com"
                                name="email" id="email" autocomplete="off">
                            </div>
    
                            <!-- password -->
                            <div class="form-group">
                              <label for="password" class="fs-12 fw-bold text-soft-dark mb-2 ">Password</label>
                              <input type="password" class="form-control rounded-0 mb-2 " placeholder="Password" name="password"
                                id="password">
                            </div>
    
                            <div class="row mb-2">
                              <!-- Remember Me -->
                              <div class="col-6">
                                <label class="aiz-checkbox">
                                  <input type="checkbox" name="remember">
                                  <span class="has-transition fs-12 fw-400 text-gray-dark hov-text-primary">Remember
                                    Me</span>
                                  <span class="aiz-square-check"></span>
                                </label>
                              </div>
                              <!-- Forgot password -->
                              <div class="col-6 text-right">
                                <a href="{% url 'password-reset' %}"
                                  class="text-reset fs-12 fw-400 text-gray-dark hov-text-primary"><u>Forgot
                                    password?</u></a>
                              </div>
                            </div>
    
                            <!-- Submit Button -->
                            <div class="form-group mb-4 mt-4">
                              <button type="submit" class="btn login   rounded-4 ">Login</button>
                            </div>
                          </form>
    
                          <!-- DEMO MODE -->
    
                          <!-- Social Login -->
                        </div>
    
                        <!-- Register Now -->
                        <div class="text-center">
                          <p class="fs-12 text-gray mb-0">Dont have an account?</p>
                          <a href="{% url 'register' %}"
                            class="fs-14 fw-700 animate-underline-primary">Register Now</a>
                        </div>
                      </div>
                    </div>
    
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


{% endblock %}


   