{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- News Room start here -->
    <div class="container p-5 m-5">
        <h1 class=" fw-bold text-center text-uppercase">News room</h1>
        <hr class="hr-styless">
        <p class="text-center text-uppercase">HERE YOU WILL KNOW ABOUT our deals with many clients </p>

        <div class="row">
            {% for n in news %}
            <div class="col-4">

                <div class="card h-100">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{n.image_1.url}}" class="d-block w-100" alt="...">
                            </div>
                             {% if n.image_2 %}
                            <div class="carousel-item">
                                <img src="{{n.image_2.url}}" class="d-block w-100" alt="...">
                            </div>
                            {% endif %}
                            {% if n.image_3 %}
                            <div class="carousel-item">
                                <img src="{{n.image_3.url}}" class="d-block w-100" alt="...">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                        <p class="text-center">{{n.desc}}</p>
                        </p>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </div>
    <!-- News Room end here -->
{% endblock %}